div.dokuwiki form#pagepack fieldset {
    width: 700px;
}
div.dokuwiki form#pagepack fieldset legend {
    font-weight:bold;
}
div.dokuwiki form#pagepack fieldset span {
    display:block;
    width:90%;
    padding-left:3em;
    border-bottom: 1px solid #ddd;
}

p.radioleft {
    text-align: left;
    padding:0;
    margin: 0;
}
p.radioleft input {
    padding-right: 1em;
}

